<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="navbar">
      <div class="logo">SARINARA</div>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/detection">Detection</a></li>
        <li><a href="/kluster">Cluster</a></li>
        <li><a href="/team" class="team-btn">Team</a></li>
      </ul>
    </nav>
  </header>

  <!-- Team Section -->
  <section class="team-section">
    <h1>Our Team</h1>
    <div class="team-container">
      <div class="team-card">
        <img src="static\assets\sarip.png" alt="Sarip">
        <h3>Sarip</h3>
        <p>Back-End</p>
      </div>
      <div class="team-card">
        <img src="static\assets\rio.png" alt="Rio">
        <h3>Rio</h3>
        <p>Front-end</p>
      </div>
      <div class="team-card">
        <img src="static\assets\najma.png" alt="Najma">
        <h3>Najma</h3>
        <p>Data Analyst</p>
      </div>
      <div class="team-card">
        <img src="static\assets\rasita.png" alt="Rasita">
        <h3>Rasita</h3>
        <p>Machine Learning</p>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-content">
      <p>&copy; 2025 Sistem Deteksi Merokok</p>
    </div>
  </footer>
</body>
</html>
